<section class="reveal section" id="sobre-mi">
  <h2 data-i18n="sec-sobre">Sobre m\u00ed</h2>
  <p class="about-text" data-i18n="sobre-p1"></p>
  <p class="about-text" data-i18n="sobre-p2"></p>
  <p class="about-text" data-i18n="sobre-p3"></p>
</section>
