---
import lang from '../data/lang.json'
const t = (key) => lang['es']?.[key] || ''
---
<section id="sobre-mi" class="reveal section-reveal">
  <h2 data-i18n="sec-sobre"
    class="section-title">Sobre mí</h2>
  <p class="about-paragraph sm:text-justify" data-i18n="sobre-p1" set:html={t('sobre-p1')}></p>
  <p class="about-paragraph sm:text-justify" data-i18n="sobre-p2" set:html={t('sobre-p2')}></p>
  <p class="about-paragraph sm:text-justify" data-i18n="sobre-p3" set:html={t('sobre-p3')}></p>
</section>
