---
import lang from '../data/lang.json'
import certificates from '../data/certificates.json'
const l = 'es'
const t = (key) => lang[l]?.[key] || ''
const tl = (obj) => obj?.[l] || ''
const empty = !certificates || certificates.length === 0
---
<section class="reveal section" id="certificados" style={empty ? 'display:none' : ''}>
  <h2 data-i18n="sec-cert">{t('sec-cert')}</h2>
  <div data-section="certificates">
    {certificates.map(item => (
      <div class="education-item">
        <div class="edu-header">
          <strong>{tl(item.title)}</strong>
          {item.date && <span class="edu-date">{tl(item.date)}</span>}
        </div>
        {item.institution && <p class="edu-institution">{tl(item.institution)}</p>}
        {item.description && <p class="edu-description">{tl(item.description)}</p>}
      </div>
    ))}
  </div>
</section>
